* {
    box-sizing: border-box;
    text-align: center;
    color: black;
    
} 

body {
    font-family: 'Oswald';
}

main {
    padding: 40px;
}

.navbar {
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    min-height: 60px;
    overflow: hidden;
    font-size: 20px;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navitem {
    font-size: 24px;
    padding: 15px;
    color: #e75480;
}

a:hover {
    font-size: 24px;
    font-weight: bold;
    color: pink;
}

.project-button:hover, .contact-button:hover {
    font-size: 22px;
    background-color: black; 
}

.headline {
    font-size: 28px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

section {
    text-align: left;
}

h2 {
    min-height: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 20px;
    font-size: 26px;
    background-color: black;
    color: #e75480;
}

h3 {
    line-height: 20px;
}

.about-me {
    margin: 0;
    padding: 20px;
    text-align: left;
    line-height: 20px;
    font-size: 20px;
}

.project-title {
    font-size: 30px;
}

.project-description {
    font-size: 18px;
}

img {
    /* max-width: 300px; */
    height: auto;
    margin: 10px auto 20px;
    display: block; 
} 

.technologies {
    line-height: 20px;
    font-size: 20px;
    padding: 10px;
}

footer {
    max-height: 150px;;
    line-height: 20px;
    font-size: 20px;
}

.project-buttons, .contact-buttons {
    text-align: center;
}

.ruffspot {
    padding-top: 80px;
}

.contact-info {
    margin: 30px;
}

.contact-buttons {
    min-height: 80px;
}

.project-button, .contact-button {
    font-size: 18px;
    text-decoration: none;
    border: 2px solid #253F66;    
    padding: 5px;
    margin: 5px;
} 

.send-email-link:hover {
    font-size: 22px;
    background-color: black;
}

/* LinkedIn profile badge*/
/* .LI-profile-badge {
    margin: 25px;
} */

@media screen and (min-width: 320px) {
    
    .about-me {
        text-align: left;
        margin: 0;
        /* padding-left: 25px; */
    } 

    h2 {
        min-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    header {
        min-height: 20px;
        margin-top: 80px;
        margin-bottom: 5px;
    }

    img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width: 500px) {
    
    .about-me {
        margin-left: 25px;
    }

    h2 {
        min-height: 80px;
        padding-top: 30px;
        padding-bottom: 20px;
        line-height: 20px;
    }

    img {
        max-width: 550px;
    }
}

@media screen and (min-width: 750px) {

    .about-me {
        margin-right: 25px;
    }

    img {
        max-width: 600px;
    }
}
